html, body {

 /*

Created with https://www.css-gradient.com
Gradient link: https://www.css-gradient.com/?c1=01ccff&c2=eee602&gt=l&gd=dtt
Buttons made with https://getcssscan.com/css-buttons-examples Thanks! */
font-family: 'Kalnia', serif;  font-size: 20px; background: #af01ff; background: linear-gradient(200deg, #af01ff, #40e6ff); background-attachment: fixed; align-items: center;  justify-content: center;  height: 100%;  width: 100%;   }

button {  background-color: #cac2fb;  border-radius: 100px;  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;  color: white;  cursor: pointer;  display: flex;  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;  padding: 7px 20px;  text-align: center;  text-decoration: none;  transition: all 250ms;  border: 0;  font-size: 16px;  user-select: none;  -webkit-user-select: none;  touch-action: manipulation;  align-items: center;  justify-content: center
 
}

button {
 background-color: #cac2fb;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50%;
    padding: 10px;
 }

/* <!-- HTML !-->
<button class="button-33" role="button">Button 33</button> */

/* CSS */

button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
 
ul{
  margin:0;
  padding:0;
}

header{
  color:white;
  padding-top:30px;
  min-height:80px;
  border-bottom:white 2px solid;
  font-family: 'Kalnia', serif;
}

header a{
display: flex;
  color:white;
  text-decoration:none;
  text-transform: uppercase;
  font-size:14px;
}

header li{
  float:left;
  display:flex;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#ffffff;
  font-weight:bold;
}

header a:visited{
  color:cyan;
}


header a:hover{
  color:#ffffff;
  font-weight:bold;
}

header p {
    font-size: 14px;
    display: flex;
  align-items: left;
  justify-content: left;
  margin: auto; 
}

h1 {
    font-family: 'Kalnia', serif;
}

h3 {
 font-family: 'Kalnia', serif;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 30px;
  color: white;
}

@media (max-width: 768px) {
  h3 {
    font-size: 20px;
  }
}

button1 {
 background-color: #feffb3;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: orange;
  cursor: pointer;
  display: flex;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 50%;
    padding: 10px;
 }
 
 button1:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05);
}

/* .subtitle {
    position: absolute;
    top: 355px;
    left: 0;
    width: 100%;
    font-size: 10px; 
}
*/

form {
  background-color: #c2fbd7;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: center;
  margin: 20px;
}

input {
  all: unset;
  font: 16px system-ui;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: white;
  opacity: 0.7; 
}

svg {
  color: white;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}


.imgcon {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
  margin-right: auto; 
    align-items: center;
    justify-content: center;
    text-align: center;
   
}

.wrapper
{
	padding-bottom: 35px;
}

.divider
{
	position: relative;
	margin-top: 35px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(0,153,76), transparent);
}

.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: white;
	border: 1px solid rgb(0,153,76);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					0 0 0 4px white;
}

/* Divider snippet: https://codepen.io/Oddgson/pen/VPrYbv Thank you!!!*/

p1 {
    font-family: 'Kalnia', serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  color: #035c1c;
}

section p {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin: 10px;
}

/* unvisited link */
h3 a:link {
  color: white;
}

/* visited link */
h3 a:visited {
  color: cyan;
}

/* mouse over link */
h3 a:hover {
  color: white;
}

/* selected link */
h3 a:active {
  color: white;
}

.scroll-to-top {
  @include display-flex;

  position: fixed;
  bottom: 50px;
  right: 50px;

  width: 50px;
  height: 50px;

  color: cyan;
  background-color: #feffb3;

  border: none;
  border-radius: 50px;

  cursor: pointer;
} 

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

 .fa:hover {
    opacity: 0.7;
}

.fa-instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  color: white;
}

.fa-telegram {
  background: #AB47BC;
  background: radial-gradient(circle at 30% 107%, #3D5AFE 5%, #9C27B0 5%, #B388FF 40%,#536DFE 60%,#C2185B 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  color: white;
}
.fa-pinterest {
  background: #D81B60;
  background: radial-gradient(circle at 30% 107%, #FF6E40 5%, #FFB74D 5%, #FB8C00 40%,#D81B60 60%,#DD2C00 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  color: white;
}

.fa-wordpress {
  background: #0D47A1;
  background: radial-gradient(circle at 30% 107%, #82B1FF 0%, #1E88E5 5%, #1E88E5 45%, #2962FF 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  color: white;
}

.fa-google {
  background: #8BC34A;
  background: radial-gradient(circle at 30% 107%, #AED581 5%, #7CB342 5%, #CDDC39 40%,#AEEA00 60%,#9CCC65 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  color: white;
}
